name: Python UI Tests

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install selenium pytest pytest-xdist allure-pytest

      - name: Install Chrome browser
        uses: browser-actions/setup-chrome@v1

      - name: Install Allure commandline
        run: |
          sudo npm install -g allure-commandline --unsafe-perm=true

      - name: Run tests in parallel with Allure
        run: pytest -n auto --alluredir=allure-results

      - name: Generate Allure report
        run: allure generate allure-results -o allure-report --clean

      - name: Upload Allure report artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-report
          path: allure-report